.container {
    display: flex;
    height: 100%;
    width: fit-content;
    min-width: 100%;
    flex-direction: column;
}
.container__main {
    margin-bottom: 50px;
    margin-inline: 50px;
    height: 100%;
    width: 100%;
}